/*add orbit image*/
/*work with rems and ems instead of pixels?
fixed header


*/

/****************** COLOR STYLES ****************+*/

:root {
    --primary: #072AC8;
    --accent: #43D2FF;
    --hover: #A2D6F9;
    --tapped: #D1EDFF;
    --dark: #292E47;
    --medium: #6B708D;
    --light: #F2F4FC;
    --light-blue: #ECF7FF;
    --secondary: #FFC600;
}

/****************** TIPOGRAFIA ****************+*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--light);
    font-family: 'Roboto', sans-serif;
}

header,
main,
footer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/* hace falta crear esta clase o aplicar a body? */
.container {
    margin: 0 auto;
    padding: 70px 170px;
}


section {
    padding: 80px 0;
}

/****************** TEXT STYLES ****************+*/

h1 {
    font-size: 60px;

}

/* h2 {
    font-size: 50px;
} */

h3 {
    font-size: 40px;
    padding-bottom: 50px;
}

h4 {
    font-size: 24px;
}


/******
bold: 700
medium: 500
regular:400
****+*/

h1,
h2,
h3,
h4 {
    font-weight: 700;
    color: var(--dark);
}

.body-reg {
    font-size: 20px;
    font-weight: 400;
    color: var(--medium);
}


/* services cpt */
.body-med {
    font-size: 24px;
    font-weight: 500;
    color: var(--dark);
}

/* pr desc, learn more, Kristin, roboto medium 24 yellow txt*/
.headline-reg {
    font-weight: 400;
    font-size: 17px;
    color: red;
}

.caption-one {
    font-weight: 400;
    font-size: 15px;
}

/* booking */
.caption-two {
    font-weight: 400;
    font-size: 13px;
}


/****************** NAVBAR ****************+*/



/* navbar,boton  no hace falta plicar en html??
.headlineMed
*/
nav a,
button {
    font-weight: 500;
    font-size: 17px;
}


ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 10px 30px;
}

li a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*  vertically center the items */
    width: 100%;
}

/*************+ buttons styles ******+***********/

button {
    font-family: inherit;
}


.btn-blue {
    background: var(--primary);
    color: #FFFFFF;
    padding: 15px 33px;
}

.btn-whi {
    background: var(--light);
    color: var(--medium);
    padding: 15px 33px;
    border: none;
}

/*************+ Styles for links ******+***********/
a:not(:active) {
    color: var(--medium);
}

a.active {
    color: var(--primary);
}

a:hover {
    color: var(--hover);
}


/*************+ HERO SECTION ******+***********/
.hero {
    display: flex;
}


.hero>div {
    flex: 1;
    /* Each div takes up equal space */
    padding: 0 30px;
}

img {
    max-width: 100%;
    /* Adjust image size for smaller screens */
}

.hero div.floating-images {
    position: relative;
}

img.man {
    width: 100%;
    /* Ensure the large image fills the container */
    display: block;
}

.small-image {
    position: absolute;
    top: 20px;
    left: 0;
    width: 30%;
    height: auto;
}

.small-image-thumb {
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 30%;
    height: auto;
}


/*************+ LOGOS SECTION ******+***********/

.logos ul {
    display: flex;
    justify-content: space-around;
}

section.logos li {
    display: inline;
    filter: grayscale(1);
}

/*************+ PROJECTS SECTION ******+***********/

#projects div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

#projects div>article {
    background-color: #FFFFFF;
    height: 100%;
    max-height: 444px;
}

#projects article img {
    height: 100%;
    max-height: 240px;
    width: 100%;
    max-width: 340px;
}

#projects article div {
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    display: block;
    max-width: 100%;
}

/* .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } */

#projects article div * {
    padding: 5px 0px;
}

#projects article div span {
    display: block;
    padding: 40px 0px 20px 0px;
    color: var(--primary);
}

#projects article div p:last-of-type {
    color: var(--medium);
}